.head{
    text-align: center;font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgb(0, 60, 255);
    border-radius: 10px;box-shadow: 3px 5px 8px black;
    padding-top: 2px;padding-bottom: 2px;
    font-size: 23px;
}
body{
    background-color: rgba(255, 255, 255, 0.822);
}

img{
    text-align: center;
    width: 232px;
    height: 240px;
    margin-top: 82px;box-shadow: 2px 12px 12px black;
    border-radius: 12px;text-decoration: none;

    

}

.imgrb {
    text-align: center;text-decoration: none;
}

.link{
    text-decoration: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(38, 0, 255);
}
h2{
    text-shadow: 1px 2px 2px black;
}